KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_TOPIC=raw-events
KAFKA_GROUP_ID=mongo-consumer-group
KAFKA_USERNAME=
KAFKA_PASSWORD=
MONGO_URI=mongodb://localhost:27017/
MONGO_DB=ecommerce
MONGO_COLLECTION=orders
